.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/VideoEncoder
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.15.5/CMakeCCompiler.cmake
build/CMakeFiles/3.15.5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.15.5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.15.5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.15.5/CMakeSystem.cmake
build/CMakeFiles/3.15.5/CompilerIdC/a.out
build/CMakeFiles/3.15.5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.15.5/CompilerIdCXX/a.out
build/CMakeFiles/3.15.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/VideoEncoder.dir/build.make
build/CMakeFiles/VideoEncoder.dir/cmake_clean.cmake
build/CMakeFiles/VideoEncoder.dir/CXX.includecache
build/CMakeFiles/VideoEncoder.dir/depend.internal
build/CMakeFiles/VideoEncoder.dir/depend.make
build/CMakeFiles/VideoEncoder.dir/DependInfo.cmake
build/CMakeFiles/VideoEncoder.dir/flags.make
build/CMakeFiles/VideoEncoder.dir/link.txt
build/CMakeFiles/VideoEncoder.dir/progress.make
build/CMakeFiles/VideoEncoder.dir/VideoEncoder_autogen/mocs_compilation.cpp.o
build/CMakeFiles/VideoEncoder.dir/home/gmatczak/Dropbox/Programowanie/C++/QT/QtGeneticOptimization/IncludeSpdlog/spdlog.cc.o
build/CMakeFiles/VideoEncoder.dir/src/main.cc.o
build/CMakeFiles/VideoEncoder.dir/src/encoders/baseencoder.cc.o
build/CMakeFiles/VideoEncoder.dir/src/encoders/none.cc.o
build/CMakeFiles/VideoEncoder.dir/src/encoders/preview.cc.o
build/CMakeFiles/VideoEncoder_autogen.dir/AutogenInfo.cmake
build/CMakeFiles/VideoEncoder_autogen.dir/AutogenOldSettings.txt
build/CMakeFiles/VideoEncoder_autogen.dir/build.make
build/CMakeFiles/VideoEncoder_autogen.dir/cmake_clean.cmake
build/CMakeFiles/VideoEncoder_autogen.dir/depend.internal
build/CMakeFiles/VideoEncoder_autogen.dir/depend.make
build/CMakeFiles/VideoEncoder_autogen.dir/DependInfo.cmake
build/CMakeFiles/VideoEncoder_autogen.dir/ParseCache.txt
build/CMakeFiles/VideoEncoder_autogen.dir/progress.make
build/VideoEncoder_autogen/moc_predefs.h
build/VideoEncoder_autogen/mocs_compilation.cpp
.vscode/c_cpp_properties.json
